name: desktop_drop
description: A plugin which allows user dragging files to your flutter desktop applications.
version: 0.7.0
homepage: https://github.com/MixinNetwork/flutter-plugins/tree/main/packages/desktop_drop

environment:
  sdk: ^3.4.0
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  cross_file: ^0.3.4+2
  web: ^1.1.1
  universal_platform: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      macos:
        pluginClass: DesktopDropPlugin
      linux:
        pluginClass: DesktopDropPlugin
      windows:
        pluginClass: DesktopDropPlugin
      android:
        package: one.mixin.desktop.drop
        pluginClass: DesktopDropPlugin
      web:
        pluginClass: DesktopDropWeb
        fileName: desktop_drop_web.dart
