name: desktop_lifecycle
description: Allow your flutter desktop application to perceive whether the window is activated.
version: 0.0.1
homepage: https://github.com/MixinNetwork/flutter-plugins/tree/main/packages/desktop_lifecycle

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter:
  plugin:
    platforms:
      macos:
        pluginClass: DesktopLifecyclePlugin
      windows:
        pluginClass: DesktopLifecyclePlugin
      linux:
        pluginClass: DesktopLifecyclePlugin